/* public/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

#pagination, #paginationDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#pagination button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#pagination button:hover:not(:disabled) {
    background-color: #45a049;
}

#pageInfo, #pageDetails {
    margin: 0 10px;
    font-size: 16px;
}
